* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #414040f5;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-container {
  width: 500px;
  height: auto;
  margin: 0 auto;

}